*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    background-color: peachpuff;
    margin: 50px;
    border-color: black;
    width: 50%;
    height: 50%;
    gap: 20px;
}


img{
    width: 50%;
    height: 20%;
}